/* Estilos generales para el componente */
ion-content ion-list ion-item,
ion-content.dark-theme ion-list ion-item {
    ion-icon {
      margin-right: 10px !important;
    }
}

ion-list {
    margin: 40px 20px; /* Márgenes: arriba 40px, izquierda y derecha 20px */
    border-radius: 5%;
}

ion-item {
    border-radius: 3%;
}

/* Estilos específicos para el modo oscuro */
ion-content.dark-theme ion-list ion-item {
    --background-color: #333 !important; 
    --color: #fff !important; 
}

ion-title {
    text-align: center;
}

.color-salir {
    color: #ff830f;
}

/* Estilos para iconos con margen a la derecha */
.icon-with-margin {
    margin-right: 8px;
}

/* Estilos para texto con margen a la izquierda */
.text-with-margin {
    margin-left: 20px;
}
