form {
    margin: 20px; /* Ajusta el valor según tus preferencias */
}

p {
    font-family: Lato;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}

ion-button.custom-button {
    background-color: #ff830f;
    color: #fff;
    border-radius: 10px;
}