<ion-header [class]="isDarkMode ? 'dark-theme' : ''"
  *ngIf="rol === 'administrador' || rol === 'encargado' || rol === 'camarero'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="--color: #ff830f"></ion-back-button>
    </ion-buttons>
    <ion-title>Gestión Reservas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleDarkMode()">
        <ion-icon [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'"
          style="color: #ff830f; font-size: 24px"></ion-icon>
      </ion-button>
      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline" class="color-salir" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rol === 'administrador' || rol === 'encargado' || rol === 'camarero'">

  <ion-title class="title">Lista de Reservas</ion-title>

  <!-- Filtros de búsqueda -->
  <ion-item>
    <ion-label>Mes:</ion-label>
    <ion-select placeholder="Selecciona mes" [(ngModel)]="filtroMes">
      <ion-select-option value="01">Enero</ion-select-option>
      <ion-select-option value="02">Febrero</ion-select-option>
      <ion-select-option value="03">Marzo</ion-select-option>
      <ion-select-option value="04">Abril</ion-select-option>
      <ion-select-option value="05">Mayo</ion-select-option>
      <ion-select-option value="06">Junio</ion-select-option>
      <ion-select-option value="07">Julio</ion-select-option>
      <ion-select-option value="08">Agosto</ion-select-option>
      <ion-select-option value="09">Septiembre</ion-select-option>
      <ion-select-option value="10">Octubre</ion-select-option>
      <ion-select-option value="11">Noviembre</ion-select-option>
      <ion-select-option value="12">Diciembre</ion-select-option>

    </ion-select>
    <ion-button *ngIf="filtroMes" (click)="borrarFiltro()" fill="clear">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Año:</ion-label>
    <ion-select placeholder="Selecciona año" [(ngModel)]="filtroAnio">
      <!-- Agrega opciones para los años que desees -->
      <ion-select-option value="2023">2023</ion-select-option>
      <ion-select-option value="2024">2024</ion-select-option>
      <ion-select-option value="2025">2025</ion-select-option>
    </ion-select>
    <ion-button *ngIf="filtroAnio" (click)="borrarFiltro()" fill="clear">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-button class="btnFiltro" (click)="aplicarFiltros()">Aplicar Filtros</ion-button>

  <ion-card *ngFor="let reserva of reservasFiltradas; let i = index" [class.dark-theme]="isDarkMode"
    [ngStyle]="{ 'background-color': coloresFilas[i % coloresFilas.length] }">

    <ion-card-content style="color: black;">
      <ion-row>
        <!-- Primera Columna -->
        <ion-col size="6">
          <label>Fecha y Hora:</label>
          <p class="reserva-dato"> {{ formatFechaHora(reserva.fechaHoraReserva) }}</p>
          <label>Num. de Pax:</label>
          <p class="reserva-dato"> {{ reserva.numPax }}</p>
          <label>Notas:</label>
          <p class="reserva-dato"> {{ reserva.notasEspeciales }}</p>
        </ion-col>

        <!-- Segunda Columna -->
        <ion-col size="6" class="ion-text-center">
          <ion-row>
            <ion-button (click)="cambiarEstadoReserva(reserva)" fill="clear">
              <ion-icon [name]="'ellipse'" [class]="getEstadoColor(reserva.estadoReserva)"
                style="margin-left: 5px;"></ion-icon>
            </ion-button>
          </ion-row>
          <ion-row>
            <ion-icon *ngIf="reserva?.id_cliente" (click)="mostrarDetallesCliente($event, reserva)" name="eye-outline"
              style="font-size: 20px; cursor: pointer; margin-left: 5px;color: #ff830f;">
              {{ reserva.id_cliente }}
            </ion-icon>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-card-content>
  </ion-card>

  <!-- Mostrar un mensaje si no hay reservas -->
  <div *ngIf="!reservas || reservas.length === 0">
    No hay reservas disponibles.
  </div>
</ion-content>