<ion-header [class]="isDarkMode ? 'dark-theme' : ''" *ngIf="rol === 'administrador'">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/ajustes" style="--color: #ff830f;"></ion-back-button>
    </ion-buttons>

    <ion-title style="text-align: center;" color="primary">Código QR</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleDarkMode()">
        <ion-icon [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'"
          style="color: #ff830f; font-size: 24px;"></ion-icon>
      </ion-button>

      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline" class="color-salir" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="custom-page-margin" *ngIf="rol === 'administrador'">

  <label>URL para generar QR</label>

  <div id="print-qr" *ngIf="textoQR" id="print-qr">
    <qrcode class="codigoQR" [qrdata]="textoQR"></qrcode>
  </div>

  <input [(ngModel)]="textoQR" placeholder="Introduce URL.." />

  <!-- BOTON PARA IMPRIMIR CODIGO QR -->
  <ion-button (click)="imprimir()" class="no-print">
    <ion-icon name="print-outline" class="print"></ion-icon>
  </ion-button>

</ion-content>