/* detallescliente.page.scss */

ion-datetime {
    --background: #fff; /* Color de fondo por defecto */
    --color: #333; /* Color de texto por defecto */
  
    &.dark-theme {
      --background: #343541; /* Color de fondo en modo oscuro */
      --color: #fff; /* Color de texto en modo oscuro */
    }
  }
  
  /* Otros estilos del formulario que pueden cambiar en modo oscuro */
  
  ion-item {
    margin-bottom: 30px;
    /* Puedes ajustar el valor según tus preferencias */
  }
  
  ion-chip,
  ion-textarea {
    margin-right: 8px;
    margin-top: 20px;
  }
  
  ion-item ion-label {
    margin-bottom: 8px;
    /* Puedes ajustar el valor según tus preferencias */
  }
  
  ion-label {
    color: #ff830f !important;
  }
  
  .dark-mode-content {
    background-color: #333 !important;
    color: #fff !important;
  }
  
  .dark-mode ion-chip,
  .dark-mode ion-searchbar,
  .dark-mode ion-input,
  .dark-mode ion-datetime,
  .dark-mode ion-textarea,
  .dark-mode ion-button {
    color: #fff !important;
  }
  
  .color-salir {
    color: #ff830f;
  }
  