.color-salir {
    color: #ff830f;
}

.dark-theme p {
    color: white;
}

ion-title {
  text-align: center;
  font-weight: bold;
}

.dark-theme 

ion-button,
ion-icon,
ion-text {
    color: #ff830f !important;
}

.texto-container {
    margin: 20px;
}
  