<ion-header [class]="isDarkMode ? 'dark-theme' : ''" *ngIf="rol === 'administrador'">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="--color: #ff830f;"></ion-back-button>
    </ion-buttons>

    <ion-title>Ajustes</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleDarkMode()">
        <ion-icon [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'"
          style="color: #ff830f; font-size: 24px;"></ion-icon>
      </ion-button>

      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline" class="color-salir" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rol === 'administrador'">
  <ion-grid>
    <ng-container *ngFor="let card of cards; let i = index">
      <ion-row *ngIf="i % 2 === 0">
        <ion-col size="6" size-md="4" size-lg="2">
          <ion-card [class]="isDarkMode ? 'dark-theme ion-text-center' : 'ion-text-center'">
            <ion-card-header></ion-card-header>
            <ion-card-content>
              <!-- Cambia aquí para usar [attr.href] -->
              <a [attr.href]="card.href" (click)="navigateToPage(card)">
                <img src="{{ card.image }}" alt="{{ card.alt }}" class="card-image" [class.image-dark]="isDarkMode">
                <p color="primary" class="card-title">{{ card.title }}</p>
              </a>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6" size-md="4" size-lg="2" *ngIf="i + 1 < cards.length ">
          <ion-card [class]="isDarkMode ? 'dark-theme' : ''">
            <ion-card-header></ion-card-header>
            <ion-card-content>
              <!-- Cambia aquí para usar [attr.href] -->
              <a [attr.href]="cards[i + 1].href" (click)="navigateToPage(cards[i + 1])">
                <img src="{{ cards[i + 1].image }}" alt="{{ cards[i + 1].alt }}" class="card-image"
                  [class.image-dark]="isDarkMode">
                <p color="primary" class="card-title">{{ cards[i + 1].title }}</p>
              </a>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>