<ion-header [class]="isDarkMode ? 'dark-theme' : ''" *ngIf="rol === 'administrador' || rol === 'encargado'">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/gestion-reservas" style="--color: #ff830f;"></ion-back-button>
    </ion-buttons>

    <ion-title>Lista Reservas</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleDarkMode()">
        <ion-icon [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'" class="icon-with-margin"
          style="color: #ff830f; font-size: 24px;"></ion-icon>
      </ion-button>

      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline" class="color-salir" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rol === 'administrador' || rol === 'encargado'">

</ion-content>