<ion-header>
  <ion-toolbar>

   <ion-buttons slot="start">
    <ion-menu-button menu="first" color="primary"></ion-menu-button>
   </ion-buttons>

    <ion-title color="primary">Anótame</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="center-container">

  <ion-title>Anótame</ion-title>

  <img src="./../../../assets/img/ic-inicio.png">
  
  <div class="button-container">
    <ion-button href='/login'>Empresa</ion-button>
    <ion-button href=''>Cliente</ion-button>
  </div>

</ion-content>