<ion-header [class]="isDarkMode ? 'dark-theme' : ''" *ngIf="rol === 'administrador' || rol === 'encargado'">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="--color: #ff830f;"></ion-back-button>
    </ion-buttons>

    <ion-title color="primary">Horarios</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleDarkMode()">
        <ion-icon [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'"
          style="color: #ff830f; font-size: 24px;"></ion-icon>
      </ion-button>

      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline" class="color-salir" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rol === 'administrador' || rol === 'encargado'">
  <!-- Tabla para agregar horarios -->
  <ion-grid [class.dark-text]="isDarkMode">
    <ion-row class="encabezado" style="font-weight: bold;">
      <ion-col>Día</ion-col>
      <ion-col>Hora de Apertura</ion-col>
      <ion-col>Hora de Cierre</ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row *ngFor="let dia of diasSemana">
      <ion-col>{{ dia }}</ion-col>
      <ion-col>
        <ion-input type="time" [(ngModel)]="horarioApertura[dia]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input type="time" [(ngModel)]="horarioCierre[dia]"></ion-input>
      </ion-col>
      <ion-col>
        <ion-button (click)="agregarHorario(dia)" [disabled]="diasSeleccionados.has(dia)">
          Agregar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Tabla para mostrar los horarios seleccionados -->
  <ion-grid [class.dark-text]="isDarkMode">
    <ion-row class="encabezado" style="font-weight: bold;">
      <ion-col>Día</ion-col>
      <ion-col>Hora de Apertura</ion-col>
      <ion-col>Hora de Cierre</ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row *ngFor="let horario of horariosSeleccionados">
      <ion-col>{{ horario.dia }}</ion-col>
      <ion-col>{{ horario.horaApertura }}</ion-col>
      <ion-col>{{ horario.horaCierre }}</ion-col>
      <ion-col>
        <ion-button (click)="borrarHorario(horario)">Borrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>