<ion-app>
    <!-- MENU HAMBURGUESA -->
    <ion-menu side="start" menuId="first" contentId="main" style="color: #ff830f;">
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="end">
                    <ion-button (click)="mostrarMenu()">
                        <ion-icon slot="icon-only" class="icono-menu" name="menu_outline"></ion-icon>
                    </ion-button>
                    <!-- <app-dark-mode-toggle></app-dark-mode-toggle> -->
                    <ion-menu-button menu="first" style="color: #ff830f;"></ion-menu-button>
                </ion-buttons>
                <ion-title>Anótame</ion-title>

            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-list>
                <ng-container class="{{ isDarkMode ? 'dark-theme' : '' }}" *ngFor="let c of componentes | async">
                    <ion-item *ngIf="showMenuItem(c) && (c.name !== 'Cerrar Sesión' || showLogoutItem())"
                        [routerLink]="c.redirectTo" (click)="navigateAndCloseMenu(c)">
                        <ion-icon slot="start" [name]="c.icon" style="color: #ff830f;"></ion-icon>
                        {{ c.name }}
                    </ion-item>
                </ng-container>
            </ion-list>
        </ion-content>
        
    </ion-menu>

    <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>