<ion-header [class]="isDarkMode ? 'dark-theme' : ''" *ngIf="rol === 'cliente'">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homecli" style="--color: #ff830f;"></ion-back-button>
    </ion-buttons>

    <ion-title color="primary">Contacto</ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="toggleDarkMode()">
        <ion-icon [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'"
          style="color: #ff830f; font-size: 24px;"></ion-icon>
      </ion-button>

      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline" class="color-salir" size="large"></ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [class]="{'dark-theme': isDarkMode}" *ngIf="rol === 'cliente'">

  <input type="hidden" #idEmpresaInput [value]="idEmpresa">

  <div *ngFor="let dato of datosFiltrados; let i = index" class="text-container"
    [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'">
    <ion-icon name="restaurant-outline"></ion-icon>
    <p>{{ dato.nomLocal }}</p>
    <ion-icon name="location-outline"></ion-icon>
    <p>{{ dato.direccion }}</p>
    <ion-icon name="call-outline"></ion-icon>
    <p>{{ dato.telf1 }}</p>
    <p>{{ dato.telf2 }}</p>
  </div>



  <ion-grid class="gridContent">

    <ion-icon name="time-outline" class="timeIcon"></ion-icon>

     <ion-row *ngFor="let horario of horariosSeleccionados">
      <ion-col size="4" style="font-weight: bold;">{{ horario.dia }}</ion-col>
      <ion-col size="8">
        <!-- Mostrar rango horario si ambos, hora_apertura y hora_cierre, tienen datos -->
        <ng-container *ngIf="horario.hora_apertura && horario.hora_cierre">
          {{ horario.hora_apertura }} – {{ horario.hora_cierre }}
        </ng-container>
        <!-- Mostrar 'Cerrado' si alguno de los dos está vacío o es null -->
        <ng-container *ngIf="!horario.hora_apertura || !horario.hora_cierre">
          Cerrado
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>