<ion-header [class]="isDarkMode ? 'dark-theme' : ''" *ngIf="rol === 'cliente'">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homecli" style="--color: #ff830f;"></ion-back-button>
    </ion-buttons>

    <ion-title style="font-size: 20px;">Gestión Reservas</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleDarkMode()">
        <ion-icon [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'" class="icon-with-margin"
          style="color: #ff830f; font-size: 24px;"></ion-icon>
      </ion-button>

      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline" class="color-salir" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [class]="isDarkMode ? 'dark-theme' : ''" *ngIf="rol === 'cliente'">

  <!-- Lista de opciones -->
  <ion-list [class]="isDarkMode ? 'dark-list' : ''">
    <ion-item class="custom-item" href='/reservascli' style="font-size: 1.2rem;">
      <ion-icon name="book-outline" class="ion-padding-end" color="primary"></ion-icon>
      <span class="text-with-margin">Reservar</span>
    </ion-item>
  </ion-list>
  
<!-- Lista de Reservas -->
<ion-list *ngIf="reservasFiltradas && reservasFiltradas.length > 0" [class]="isDarkMode ? 'dark-list' : ''">
  <ion-item class="header-row" style="font-size: 5.8rem;">
    <ion-label style="font-size: 0.9rem;" class="columna">Fecha y Hora</ion-label>
    <ion-label style="font-size: 0.9rem;" class="columna">Num. Pax</ion-label>
    <ion-label style="font-size: 0.9rem;" class="columna">Notas Especiales</ion-label>
    <ion-label style="font-size: 0.9rem;" class="columna">Estado</ion-label>
  </ion-item>

  <ion-item *ngFor="let reserva of reservasFiltradas; let i = index"
            [ngClass]="{'data-row': true, 'dark-theme': isDarkMode}"
            [style.background-color]="coloresFilas[i % coloresFilas.length]">

    <ion-label class="columna">{{ formatFechaHora(reserva.fechaHoraReserva) }}</ion-label>
    <ion-label class="columna">{{ reserva.numPax }}</ion-label>
    <ion-label class="columna">{{ reserva.notasEspeciales }}</ion-label>
    <ion-label class="columna">
      <ion-icon [name]="'ellipse'" [class]="getEstadoColor(reserva.estadoReserva)"></ion-icon>
    </ion-label>

  </ion-item>
</ion-list>

  
  <!-- Mensaje si no hay reservas -->
  <div *ngIf="!reservasFiltradas || reservasFiltradas.length === 0" style="margin-left: 20px;font-size: 20px;font-weight: bold;color: #ff830f;">
    No hay reservas disponibles.
  </div>

</ion-content>
