body {
    font-size: 18px;
}

.comentario-preview {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 1.5em;
}

.expandido {
    max-height: unset !important;
    overflow: unset !important;
    white-space: pre-wrap;
}

.custom-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 8px;
    margin-top: 20px;
    font-size: 12px;
}

.spacer {
    height: 36px;
    /* Ajusta la altura según sea necesario */
}

.respuesta {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 1.5em;
}

.respuesta.expandido {
    white-space: pre-wrap;
}


.custom-trash-icon {
    float: right;
    background-color: red;
    /* o cualquier color llamativo */
    color: white;
}

.star-icon {
    font-size: 24px;
    color: #ffd700;
    /* color amarillo para estrellas llenas */
}

label,
ion-label,
p,
ion-card-title {
    color: black;
}

ion-card-title {
    font-size: 2.2em;
}

ion-card-content p {
    font-size: 1.5em;
}

ion-icon,
ion-text {
    color: #ff830f !important;
    /* Color en ambos modos */
}

/* Estilos para el modo oscuro */
.dark-theme {
    --background: #444852;
    --color: #ffffff;
    --dark-background-color: #333;
    --dark-text-color: #fff;
    --dark-border-color: #555;
}

.dark-theme ion-content {
    --background: #444852;
    color: #ffffff;
}

.dark-theme ion-item,
.dark-theme ion-card {
    --background: #343541;
}

.dark-theme ion-list.md.list-md.hydrated ion-item,
.dark-theme .list-md ion-item {
    --background: #343541;
    color: #ffffff;
    border: none;
}

.dark-theme ion-item,
.dark-theme ion-buttonitem,
.dark-theme ion-card {
    --background: #444852;
    color: #ffffff;
}

.dark-theme ion-select {
    --background: var(--dark-background-color);
    --color: var(--dark-text-color);
}

.dark-theme label,
.dark-theme ion-label,
.dark-theme p {
    color: #ffffff !important;
}

.dark-theme ion-card-title {
    font-size: 2.2em;
}

ion-title {
    text-align: center;
}