<ion-header [class]="isDarkMode ? 'dark-theme' : ''"
  *ngIf="rol === 'administrador' || rol === 'encargado'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="--color: #ff830f;"></ion-back-button>
    </ion-buttons>

    <ion-title>Reseñas</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleDarkMode()">
        <ion-icon [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'"
          style="color: #ff830f; font-size: 24px;"></ion-icon>
      </ion-button>

      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline" class="color-salir" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="{'dark-theme': isDarkMode}" class="ion-padding"
  *ngIf="rol === 'administrador' || rol === 'encargado'">
  
  <ion-card *ngFor="let resena of resenasFiltrados; let i = index" [class.dark-theme]="isDarkMode" style="margin-top: 30px;">

    <ion-card-header>
      <ion-card-title [style.color]="isDarkMode ? '#ff830f' : '#ff830f'">{{ resena.nombre }}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content style="display: flex; flex-direction: column;">
      <p>{{ resena.calificacion }} <ion-icon name="star-half-outline" style="color: #ff830f;"></ion-icon></p>
      <p class="comentario-preview" [class.expandido]="expandido[i]">
        {{ resena.comentario | slice:0:2000 }}
      </p>
  
      <div style="margin-top: 5px; margin-left: auto; text-align: right;">
        <a (click)="toggleExpansion(i)" *ngIf="!expandido[i] && resena.comentario.length > 80">
          <ion-icon name="add-outline" size="small" style="vertical-align: middle;"></ion-icon>
          Más
        </a>
        <a (click)="toggleExpansion(i)" *ngIf="expandido[i]">
          <ion-icon name="remove-outline" size="small" style="vertical-align: middle;"></ion-icon>
          Menos
        </a>
      </div>
  
      <p style="display: none;">{{ resena.id_reviews }}</p>
  
      <!-- Mostrar respuesta si existe -->
      <ng-container *ngIf="resena.respuesta">
        <p>Restaurante<ion-icon style="margin-left: 5px;" name="person-outline"></ion-icon></p>
        <p class="respuesta" [class.expandido]="expandidoRespuesta[i]">
          {{ resena.respuesta }}
        </p>
  
        <div style="margin-top: 5px; margin-left: auto; text-align: right;">
          <a (click)="toggleExpansionRespuesta(i)" *ngIf="!expandidoRespuesta[i] && resena.respuesta.length > 80">
            <ion-icon name="add-outline" size="small" style="vertical-align: middle;"></ion-icon>
            Más
          </a>
          <a (click)="toggleExpansionRespuesta(i)" *ngIf="expandidoRespuesta[i]">
            <ion-icon name="remove-outline" size="small" style="vertical-align: middle;"></ion-icon>
            Menos
          </a>
        </div>
      </ng-container>
  
      <div class="spacer"></div>
  
      <ion-button (click)="responderResena(resena)" class="custom-button" shape="round" size="small">
        Responder
      </ion-button>
    </ion-card-content>
  </ion-card>
  
  
  

  <!-- Mostrar un mensaje si no hay reseñas -->
  <div *ngIf="!resenasFiltrados || resenasFiltrados.length === 0">
    No hay reseñas disponibles.
  </div>

</ion-content>

