<ion-header [class]="isDarkMode ? 'dark-theme' : ''"
  *ngIf="rol === 'administrador' || rol === 'encargado'">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="--color: #ff830f;"></ion-back-button>
    </ion-buttons>

    <ion-title>Reseñas</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleDarkMode()">
        <ion-icon [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'"
          style="color: #ff830f; font-size: 24px;"></ion-icon>
      </ion-button>

      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline" class="color-salir" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [ngClass]="{'dark-theme': isDarkMode}" class="ion-padding"
  *ngIf="rol === 'administrador' || rol === 'encargado'">

  <ion-card *ngFor="let resena of resenasFiltrados; let i = index" [class.dark-theme]="isDarkMode">
    <ion-card-header>
      <ion-card-title [style.color]="isDarkMode ? '#ff830f' : '#ff830f'">{{ resena.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ resena.calificacion }} <ion-icon name="star-half-outline" style="color: #ff830f;"></ion-icon></p>
      <p>{{ resena.comentario }}</p>
      <p style="display: none;">{{ resena.id_reviews }}</p>

      <p>-------------------------------</p>
      <!-- Mostrar respuesta si existe -->
      <ng-container *ngIf="resena.respuesta">
        <p>Respuesta del restaurante:</p>
        <p class="respuesta">{{ resena.respuesta }}</p>
      </ng-container>

      <ion-button (click)="responderResena(resena)">Responder</ion-button>

    </ion-card-content>
  </ion-card>

  <!-- Mostrar un mensaje si no hay reseñas -->
  <div *ngIf="!resenasFiltrados || resenasFiltrados.length === 0">
    No hay reseñas disponibles.
  </div>

</ion-content>