ion-content.custom-content {
    --padding-start: 20px !important;
    --padding-end: 20px !important;
    --padding-top: 20px !important;
    --padding-bottom: 20px !important;
    margin: 10px !important;
}

.center-container {
    width: 80%;
    /* Ajusta el ancho del contenedor según tus necesidades */
    margin: 0 auto;
    /* Centra horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.alert-orange-text {
    color: #ff830f;
}

.color-btn {
    --background: #ff830f !important;
    color: #ffffff !important;
}

/* Estilos para los iconos */
ion-icon {
    font-size: 1.5em;
    color: #ff830f;
}

ion-icon.trash {
    color: #fff !important;
}

/* Estilos para etiquetas */
ion-label {
    font-weight: bold;
    font-size: 18px;
}

/* Estilos para los botones */
.color-btn {
    background-color: #ff830f;
    border-radius: 10px;
    font-size: 12px;
    margin-bottom: 5px;
}

/* Estilos para un segundo tipo de botón */
.color-btn2 {
    border-radius: 10px;
    background-color: #ff830f;
    margin-bottom: 25px !important;
}

/* Estilos para las filas */
ion-row {
    justify-content: flex-start;
    padding-left: 5px;
    width: 100%;
}

/* Estilos específicos para el tema oscuro */
.dark-theme .image-dark {
    filter: invert(100%);
}

.color-salir {
    color: #ff830f;
}

ion-title {
    text-align: center;
}

p {
    font-size: 18px;
}

/* Estilos específicos para el tema oscuro */
.dark-theme ion-label,
.dark-theme ion-input,
.dark-theme p {
    color: #fff;
    /* Color blanco para el texto en modo oscuro */
}

.light-theme ion-label,
.light-theme ion-input,
.light-theme p {
    color: #000;
    /* Color negro (o el color original) para el texto en modo claro */
}