<ion-header [class]="isDarkMode ? 'dark-theme' : ''" *ngIf="rol === 'administrador' || rol === 'encargado'">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="--color: #ff830f;"></ion-back-button>
    </ion-buttons>

    <ion-title color="primary">Contacto</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleDarkMode()">
        <ion-icon [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'"
          style="color: #ff830f; font-size: 24px;"></ion-icon>
      </ion-button>

      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline" class="color-salir" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rol === 'administrador' || rol === 'encargado'">

  <!-- Campos de entrada Nombre -->
  <ion-row [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'">
    <ion-label>Nombre Local</ion-label>
  </ion-row>
  <ion-row [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'">
    <ion-input type="text" [(ngModel)]="texto"></ion-input>
  </ion-row>

  <!-- Campos de entrada Dirección -->
  <ion-row [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'">
    <ion-label>Dirección</ion-label>
  </ion-row>
  <ion-row [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'">
    <ion-input type="text" [(ngModel)]="direccion"></ion-input>
  </ion-row>

  <!-- Campos de entrada Teléfono 1 -->
  <ion-row [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'">
    <ion-label>Teléfono 1</ion-label>
  </ion-row>
  <ion-row [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'">
    <ion-input type="tel" [(ngModel)]="telefono1"></ion-input>
  </ion-row>

  <!-- Campos de entrada Teléfono 2 -->
  <ion-row [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'">
    <ion-label>Teléfono 2</ion-label>
  </ion-row>
  <ion-row [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'">
    <ion-input placeholder="opcional.." type="tel" [(ngModel)]="telefono2"></ion-input>
  </ion-row>


  <!-- Botón para agregar datos -->
  <ion-button (click)="agregarDatos()" expand="block" fill="clear" shape="round" class="color-btn">
    Añadir datos
  </ion-button>

  <div style="margin-left: 10px; text-align: center; margin-top: 20px;" class="text-container" [ngClass]="isDarkMode ? 'dark-theme' : 'light-theme'" *ngFor="let dato of datos">
    <ion-icon name="restaurant-outline"></ion-icon>
    <p>{{ dato.nombre }}</p>
    <ion-icon name="location-outline"></ion-icon>
    <p>{{ dato.direccion }}</p>
    <ion-icon name="call-outline"></ion-icon>
    <p>{{ dato.telefono1 }}</p>
    <p>{{ dato.telefono2 }}</p>
    <ion-button style="margin-bottom: 20px;" (click)="eliminarDato(dato)" fill="clear" class="color-btn2 trash-button">
      <ion-icon name="trash-outline" class="trash"></ion-icon>
    </ion-button>
  </div>

</ion-content>