<ion-header [class]="isDarkMode ? 'dark-header' : ''" *ngIf="rol === 'administrador'">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" style="--color: #ff830f;"></ion-back-button>
    </ion-buttons>

    <ion-title>Restaurante</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleDarkMode()" class="custom-button">
        <ion-icon [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'"
          style="color: #ff830f; font-size: 24px;"></ion-icon>
      </ion-button>

      <ion-button (click)="cerrarSesion()" class="color-salir" size="large">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [class]="{'dark-theme': isDarkMode}" *ngIf="rol === 'administrador'" class="custom-content">

  <form [formGroup]="ionicForm" (ngSubmit)="enviarTexto()">

    <ion-item>
      <ion-input formControlName="nomLocal" placeholder="Introduce nombre restaurante" rows="5"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea formControlName="texto" placeholder="Introduce texto" rows="4"></ion-textarea>
    </ion-item>

    <!-- Campos ocultos para id_user e id_empresa -->
    <input type="hidden" formControlName="id_empresa" [value]="id_empresa">
    <input type="hidden" formControlName="id_user" [value]="id_user">

    <ion-button type="submit" shape="round" size="small" style="margin-left: 245px;">Enviar</ion-button>
  </form>

  <!-- Mostrar el nombre local -->
  <div style="overflow-wrap: break-word; max-width: 350px; color: #ff830f;">
    <p style="font-size: 25px;">{{ ionicForm.get('nomLocal')?.value }}</p>
  </div>

  <!-- Mostrar el texto -->
  <div style="overflow-wrap: break-word; max-width: 350px;">
    <p class="white-text" style="font-size: 20px;">{{ ionicForm.get('texto')?.value }}</p>
  </div>

  <!-- Mostrar el nombre local -->
  <div *ngFor="let texto of textosFiltrados">
    <div style="overflow-wrap: break-word; max-width: 350px; color: #ff830f;">
      <p style="font-size: 25px;">{{ texto.nomLocal }}</p>
    </div>

    <!-- Mostrar el texto con saltos de línea y espacio entre párrafos -->
    <div style="overflow-wrap: break-word; max-width: 350px; white-space: pre-line; margin-bottom: 10px;">
      <p class="white-text" style="font-size: 20px;">{{ texto.texto }}</p>
    </div>
  </div>
  
</ion-content>