<ion-header [class]="isDarkMode ? 'dark-theme' : ''" *ngIf="rol === 'cliente'">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title color="primary">Anótame</ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="toggleDarkMode()">
        <ion-icon [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'" style="color: #ff830f; font-size: 24px;"></ion-icon>
      </ion-button>

      <a (click)="mostrarPopover($event)">
        <ion-icon style="font-size: 24px;margin-top: 4px;margin-right: 3px;" name="happy-outline"></ion-icon>
      </a>    
      
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [class.dark-theme]="isDarkMode" class="cliente-content">
  <ion-grid>
    <ng-container *ngFor="let card of cards; let i = index">
      <ion-row *ngIf="i % 2 === 0">
        
        <!-- Columna para tarjeta en posición par -->
        <ion-col size="6" size-md="4" size-lg="2" *ngIf="showCard(cards[i])">
          <ion-card class="cliente-card" [class]="isDarkMode ? 'dark-theme' : ''">
            <ion-card-header></ion-card-header>
            <ion-card-content class="cliente-card-content">
              <!-- Enlace a la página correspondiente al hacer clic en la tarjeta -->
              <a [attr.href]="card.href" (click)="navigateToPage(card)">
                <!-- Imagen de la tarjeta -->
                <img src="{{ card.image }}" alt="{{ card.alt }}" class="cliente-card-image" [class.cliente-image-dark]="isDarkMode">
                <!-- Título de la tarjeta -->
                <p color="primary" class="cliente-card-title">{{ card.title }}</p>
              </a>
            </ion-card-content>
          </ion-card>
        </ion-col>
        
        <!-- Columna para tarjeta en posición impar -->
        <ion-col size="6" size-md="4" size-lg="2" *ngIf="i + 1 < cards.length && showCard(cards[i + 1])">
          <ion-card class="cliente-card" [class]="isDarkMode ? 'dark-theme' : ''">
            <ion-card-header></ion-card-header>
            <ion-card-content class="cliente-card-content">
              <!-- Enlace a la página correspondiente al hacer clic en la tarjeta -->
              <a [attr.href]="cards[i + 1].href" (click)="navigateToPage(cards[i + 1])">
                <!-- Imagen de la tarjeta -->
                <img src="{{ cards[i + 1].image }}" alt="{{ cards[i + 1].alt }}" class="cliente-card-image" [class.cliente-image-dark]="isDarkMode">
                <!-- Título de la tarjeta -->
                <p color="primary" class="cliente-card-title">{{ cards[i + 1].title }}</p>
              </a>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>
</ion-content>
