body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// Header
ion-header {
    background-color: #ffffff;

    ion-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #ff830f;
    }
}

// MENU HAMBURGUESA
ion-menu {
    --background: #ffffff;
    --color: #343541;
}

// MODO OSCURO
.dark-theme ion-header,
.dark-theme ion-toolbar {
    --background: #343541;
    --color: #ff830f;
}

.dark-theme ion-content {
    --background: #444852;
    color: #ffffff;
}

.dark-theme ion-item,
.dark-theme ion-card,
.dark-theme ion-list {
    --background: #343541;
    color: #ffffff;
}

/* Menú hamburguesa */
.dark-theme ion-menu {
    --background: #343541;
    --color: #ffffff;
}

.dark-theme ion-select {
    --background: var(--dark-background-color);
    --color: var(--dark-text-color);
}

//////////////////////////////////////////////////
.errormessage {
    color: red;
    font-size: 2.5vw;
}

.nomFlotante {
    color: #ff830f;
}