<ion-header [class]="isDarkMode ? 'dark-theme' : ''" *ngIf="rol === 'administrador'">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/config-empleados" style="--color: #ff830f;"></ion-back-button>
    </ion-buttons>

    <ion-title color="primary" style="font-size: 20px;">Lista Clientes</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleDarkMode()">
        <ion-icon [name]="isDarkMode ? 'sunny-outline' : 'moon-outline'"
          style="color: #ff830f; font-size: 24px;"></ion-icon>
      </ion-button>

      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline" class="color-salir" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Buscar por nombre"
    (ionInput)="filtrarClientes('nombre', $event.target.value || '')"></ion-searchbar>
  <ion-searchbar placeholder="Buscar por apellido"
    (ionInput)="filtrarClientes('apellido', $event.target.value || '')"></ion-searchbar>
  <ion-searchbar placeholder="Buscar por correo electrónico"
    (ionInput)="filtrarClientes('email', $event.target.value || '')"></ion-searchbar>
  <ion-searchbar placeholder="Buscar por teléfono"
    (ionInput)="filtrarClientes('telf', $event.target.value || '')"></ion-searchbar>

  <ion-grid class="tabla-ancha tabla-centrada" *ngIf="rol === 'administrador'">

    <ion-row class="fila-bordes" style="text-align: center;font-weight: bold;">
      <ion-col class="columna encabezado-naranja">ID</ion-col>
      <ion-col class="columna encabezado-naranja">NOMBRE</ion-col>
      <ion-col class="columna encabezado-naranja">APELLIDO</ion-col>
      <ion-col class="columna encabezado-naranja">EMAIL</ion-col>
      <ion-col class="columna encabezado-naranja">TELÉFONO</ion-col>
      <ion-col class="columna iconos"></ion-col>
    </ion-row>

    <ion-row class="fila-bordes" *ngFor="let cliente of clientesFiltrados ? clientesFiltrados : clientes; let i = index"
      [ngStyle]="{ 'background-color': coloresFilas[i % coloresFilas.length] }" style="text-align: center;">
      <ion-col class="columna">{{ cliente.id_cliente }}</ion-col>
      <ion-col class="columna">{{ cliente.nombre }}</ion-col>
      <ion-col class="columna">{{ cliente.apellido }}</ion-col>
      <ion-col class="columna">{{ cliente.email }}</ion-col>
      <ion-col class="columna">{{ cliente.telf }}</ion-col>
      
      <ion-col class="columna iconos">
        <a (click)="borrarCliente(cliente.id_cliente)">
          <ion-icon name="trash-outline" size="small"></ion-icon>
        </a>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>